{% if items %}
<table class="table table-striped table-hover align-middle">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% t 'admin.media.file' %}</th>
      <th scope="col">{% t 'admin.media.type' %}</th>
      <th scope="col">{% t 'admin.media.size' %}</th>
      <th scope="col">{% t 'admin.media.actions' %}</th>
    </tr>
  </thead>
  <tbody>
    {% foreach items as item %}
      {% include "media/picker_row.html" %}
    {% endforeach %}
  </tbody>
</table>
{% else %}
<div class="alert alert-secondary mb-0">{% t 'media.picker.empty' %}</div>
{% endif %}
