parameters:
    level: 6
    paths:
        - src
        - modules
    excludePaths:
        analyse:
            - vendor
            - storage
    tmpDir: storage/cache/phpstan
    reportUnmatchedIgnoredErrors: false
