{% extends "layout.html" %}

{% block content %}
<section>
  <h1>{% t 'users.login.title' %}</h1>
  {% include "partials/form_errors.html" %}
  {% if error_key %}
  <p class="text-danger">{% t error_key %}</p>
  {% endif %}
  <form method="post" action="/login">
    <label>
      {% t 'users.login.username' %}
      <input name="username" autocomplete="username">
    </label>
    <label>
      {% t 'users.login.password' %}
      <input type="password" name="password" autocomplete="current-password">
    </label>
    <input type="hidden" name="_token" value="{% csrf_token %}">
    <button type="submit">{% t 'users.login.submit' %}</button>
  </form>
</section>
{% endblock %}
