{% extends "layout.html" %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h1 class="h4 mb-3">{% t 'users.password_reset.invalid_title' %}</h1>
    <div class="alert alert-danger mb-3">
      {% t 'users.password_reset.invalid_message' %}
    </div>
    <p>{% t 'users.password_reset.invalid_instructions' %}</p>
    <a href="/password-reset/request" class="btn btn-primary">{% t 'users.password_reset.request_new' %}</a>
    <a href="/login" class="btn btn-link">{% t 'users.password_reset.back_to_login' %}</a>
  </div>
</div>
{% endblock %}