{% extends "layout.html" %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h1 class="h4 mb-3">{% t 'users.password_reset.form_title' %}</h1>
    <div id="page-messages">
      {% include "partials/messages.html" %}
    </div>
    <form method="post" action="/password-reset/process">
      <input type="hidden" name="token" value="{% token %}">
      <div class="mb-3">
        <label class="form-label">
          {% t 'users.password_reset.new_password' %}
        </label>
        <input class="form-control" type="password" name="password" autocomplete="new-password" required minlength="8">
      </div>
      <div class="mb-3">
        <label class="form-label">
          {% t 'users.password_reset.confirm_password' %}
        </label>
        <input class="form-control" type="password" name="password_confirm" autocomplete="new-password" required minlength="8">
      </div>
      <input type="hidden" name="_token" value="{% csrf_token %}">
      <button class="btn btn-primary" type="submit">{% t 'users.password_reset.reset_submit' %}</button>
    </form>
  </div>
</div>
{% endblock %}