{% extends "layout.html" %}

{% block content %}
{% include "partials/header.html" %}

{% if home_enabled %}
<div id="loading" class="text-center my-3 htmx-indicator">
  <div class="spinner-border" role="status"></div>
</div>

<div class="row g-3">
  {% if blocks.system %}
  <div class="col-12 col-lg-6">
    {% include "home/_system.html" %}
  </div>
  {% endif %}

  {% if blocks.auth %}
  <div class="col-12 col-lg-6">
    {% include "home/_auth.html" %}
  </div>
  {% endif %}

  {% if blocks.perf %}
    {% if perf.enabled %}
    <div class="col-12">
      {% include "home/_perf.html" %}
    </div>
    {% endif %}
  {% endif %}

  {% if blocks.pages %}
  <div class="col-12">
    {% include "home/_pages.html" %}
  </div>
  {% endif %}

  {% if blocks.changelog %}
  <div class="col-12">
    {% include "home/_changelog.html" %}
  </div>
  {% endif %}

  {% if blocks.search %}
  <div class="col-12">
    {% include "home/_search.html" %}
  </div>
  {% endif %}

  {% if blocks.media %}
  <div class="col-12 col-lg-6">
    {% include "home/_media.html" %}
  </div>
  {% endif %}

  {% if blocks.menus %}
  <div class="col-12 col-lg-6">
    {% include "home/_menus.html" %}
  </div>
  {% endif %}

  {% if blocks.audit %}
    {% if audit.allowed %}
    <div class="col-12">
      {% include "home/_audit.html" %}
    </div>
    {% endif %}
  {% endif %}

  {% if blocks.features %}
  <div class="col-12">
    {% include "home/_features.html" %}
  </div>
  {% endif %}
</div>
{% else %}
<div class="alert alert-secondary">Home showcase disabled.</div>
{% endif %}
{% endblock %}
